<div id="Bottom">
    <div id="BottomMain">
        <strong><a href="" class="dark">About</a></strong> &nbsp; | &nbsp; <strong><a href="" class="dark">FAQ</a></strong> &nbsp; | &nbsp; <strong><a href="" class="dark">Mission</a></strong> &nbsp; | &nbsp; <strong><a href="" class="dark" target="_blank">Blog</a></strong> &nbsp; | &nbsp; <strong><a href="" class="dark">Advertise</a></strong>
        <div class="sep10"></div>
        <div class="sep5"></div>
        <span class="fade">{{ site.description }}</span>
        <div class="sep3"></div>
        <span class="fade">Based on <a href="http://www.v2ex.com" title="Visit V2EX" target="_blank">V2EX</a> (<a href="http://www.olivida.com" title="Visit @Livid's blog" target="_blank">@Livid</a>)</span>
        <div class="sep10">
            <span class="fade">Powered By <strong class="dark">SACN Network Team</strong></span>
        </div>
        <div class="sep5"></div>
        <small>VERSION: {{ system_version }}<br />♥ Do have a faith in what you're doing.</small>
    </div>
    {% if site.analytics %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.analytics }}']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
    {% if member %}
    {% ifequal member.use_my_css 1 %}
    <style type="text/css">
    {{ member.my_css }}
    </style>
    {% endifequal %}
    {% endif %}
</div>
