{% csrf_token %}
<link rel="stylesheet" href="/media/editor/themes/default/default.css" />
<script charset="utf-8" src="/media/editor/kindeditor.js"></script>
<script charset="utf-8" src="/media/editor/lang/zh_CN.js"></script>
<script type="text/javascript">
KindEditor.ready(function(K) {
	K.create('textarea[name="content"]', {
		resizeType : 1,
		allowPreviewEmoticons : true,
		allowImageUpload : true,
		items : [
			'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
			'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
			'insertunorderedlist', '|', 'emoticons', 'map', 'link']
	});
});
</script>