<link rel="stylesheet" href="/media/editor/skins/default.css" />
<script charset="utf-8" src="/media/editor/kindeditor.js"></script>
<script type="text/javascript">
KE.show({
	id : 'content',
	resizeMode : 1,
    allowPreviewEmoticons : false,
    allowUpload : true,
    newlineTag : 'br',
    items : [
        'fontname', 'fontsize', '|', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
        'insertunorderedlist', '|', 'emoticons', 'image', 'link']
	});
</script>