亲爱的圈友 <strong>{{ account }}</strong> 欢迎您来到又石圈 Woosuko.com
<p>
	您的注册信息如下：<br />
	<br />
	登录账户：<strong>{{ account }}</strong>
	<br>
	登录密码：<strong>{{ password }}</strong>
    {% comment %}
	<br />
	验证地址：
	<strong>
		<a href="http://www.woosuko.com/emailVerify.jsp?id=|USER_ID|&verify_email_code=|VERIFY_EMAIL_CODE|">http://www.woosuko.com/emailVerify.jsp?id=|USER_ID|&verify_email_code=|VERIFY_EMAIL_CODE|
		</a>
	</strong>
    {% endcomment %}
	<br />
	<br />
	又石圈是一个提供结识又石校友，便利留学生活的真实社交网络，加入她您可以：
	<ul>
		<li>联络又石校友，了解他们的最新动态</li>
		<li>记录、分享留学生活，展示自我</li>
		<li>和朋友讨论明星、音乐和电影</li>
		<li>获得韩语和TOEIC学习资料</li>
	</ul>
	<p>
		立即访问<br /><br />
		<a style="color: #336633;" href="http://woosuko.com" target="_blank">www.woosuko.com</a> - 又石圈 又石大学留学生真实社交网络
		<br /><br />
	<p style="color:#999"> - <strong>SACN</strong> Network Team 全体成员敬上</p>
</p>